* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202020;
  color: #eceaea;
}
.to-do{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}
button{
  background-color: #eceaea;
  color: #202020;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.todo-list{
  margin-top: 20px;
  width: 300px;
}